# Dependencies
/node_modules
/.pnp
.pnp.*

# Vercel
/.vercel

# Next.js
/.next
/out

# Debug
npm-debug.log*

# Env files
.env*

# VS Code
/.vscode

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Playwright
/blob-report
/playwright/.cache
/playwright-report
/test-results
/tests-examples

# Qlty
/.qlty
!/.qlty/qlty.toml
